* {
  font-family: 'Mulish';
  font-size: 14px;
}

ion-content {
  --ion-background-color: #F2F6FF;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
}

#calculate-btn {
  margin-top: 37px;
  width: 160px;
  height: 42px;
  border-radius: 8px;
  --background: #01A7C2;
  color: #fff;
  font-size: 16px;
}

.input-container {
  background-color: #fff;
  border-radius: 24px;
  padding: 16px;

  ion-input {
    background-color: #F2F6FF;
    height: 42px;
    border-radius: 8px;
    text-align: right;
    margin-top: 8px;
    padding-right: 16px !important;

    span {
      padding-left: 16px;
      font-weight: bold;
    }

    ion-icon{
      padding-left: 16px;
      width: 16px;
      height: 16px;
      color: #01A7C2;
    }
  }

  .percent-buttons {
    margin-top: 40px;

    input[type="radio"] {
      display: none;
    }

    ion-col>label {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      color: #01A7C2;
      border: 1px solid #01A7C2;
      border-radius: 8px;
      padding: 11px 17px;
      display: flex;
      align-items: center;
    }

    ion-col>label[for="5"]:before {
      content: "";
      width: 38px;
    }

    ion-col>label:before {
      content: "";
      width: 32px;
    }

    input[type="radio"]:checked+label {
      background-color: #0E7182;
      color: white;
    }
  }
}

.result-container {
  margin-top: 24px;

  ion-input {
    background-color: #01A7C2;
    color: #fff;
    height: 42px;
    border-radius: 8px;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 18px;
    padding-right: 16px !important;

    span {
      padding-left: 16px;
    }
  }
}