<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <h3 id="title">Gorjetas</h3>
    <div class="input-container">
      <div>
        <label>Digite o valor total do pedido<font color="#DF4A4A">*</font></label>
        <ion-input placeholder="Digite o valor aqui" [(ngModel)]="orderValue" [ngStyle]="{'border': invalid1 ? invalidColor : ''}">
          <span slot="start">R$</span>
        </ion-input>
      </div>
      <div class="percent-buttons">
        <label>Quanto quer dar de gorjeta?<font color="#DF4A4A">*</font></label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <input type="radio" name="percent" id="5" value="5" [(ngModel)]="tipPercent">
              <label for="5">5%</label>
            </ion-col>
            <ion-col>
              <input type="radio" name="percent" id="10" value="10" [(ngModel)]="tipPercent">
              <label for="10">10%</label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <input type="radio" name="percent" id="15" value="15" [(ngModel)]="tipPercent">
              <label for="15">15%</label>
            </ion-col>
            <ion-col>
              <input type="radio" name="percent" id="20" value="20" [(ngModel)]="tipPercent">
              <label for="20">20%</label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div>
        <ion-input placeholder="Personalize aqui" [(ngModel)]="customTip">
          <span slot="start">%</span>
        </ion-input>
      </div>
      <div style="margin-top: 15px;">
        <label>Quantas pessoas irão pagar?<font color="#DF4A4A">*</font>
        </label>
        <ion-input placeholder="Digite o valor aqui" [(ngModel)]="peopleAmount" [ngStyle]="{'border': invalid2 ? invalidColor : ''}">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div style="text-align: center; padding-bottom: 12px;">
        <ion-button id="calculate-btn" (click)="verifyCalc()">
          CALCULAR
        </ion-button>
      </div>
    </div>
    <div class="result-container">
      <label>Valor total da gorjeta</label>
      <ion-input readonly [value]="totalTip | number : '1.2-2'">
        <span slot="start">R$</span>
      </ion-input>

      <label>Valor que cada pessoa irá pagar de gorjeta</label>
      <ion-input readonly [value]="splitTip | number : '1.2-2'">
        <span slot="start">R$</span>
      </ion-input>
    </div>
  </div>
</ion-content>